src/main/resources/META-INF/orm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="entity-mappings">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="named-query">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="query" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="name" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>